$color-default: #fff;
$color-primary: #d32d27;
$color-primary-darker: #cc2c26;
$color-primary-dark: #500a07;
$color-primary-light: lighten($color-primary, 10%);
$color-secondary: #000;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-muted: rgba($color-secondary, .3);