@use "sass:color";

$color-default: #fff;
$color-primary: #d32d27;
$color-primary-hover: #e8827e;
$color-primary-darker: #cc2c26;
$color-primary-semidark: #82120d;
$color-primary-dark: #500a07;
$color-primary-light: color.scale($color-primary, $lightness: 10%);
$color-secondary: #000;
$color-secondary-light: color.scale($color-secondary, $lightness: 10%);
$color-secondary-muted: rgba($color-secondary, 0.3);
$color-success: #00cc00;
$color-success-light: #5cbe3e;
