$font-family-default: 'Quicksand';
$font-family-password: 'Jura';

$font-size-default: 17px;
$font-size-small: 14px;
$font-size-password: 40px;

$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;
$font-weight-extrabold: 900;