* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: $color-primary;
    text-decoration: none;
}

body {
    background: $color-primary linear-gradient(135deg, $color-primary, $color-primary-darker, $color-primary-dark);
    color: $color-default;
    font-family: $font-family-default;
    font-size: $font-size-default;
    font-weight: $font-weight-light;
    height: auto;

    &.is-scroll-disabled {
        overflow: hidden;
    }
}

.container {
    overflow: hidden;
    padding: 0 $value-container-padding;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-light;
    margin: 0 0 .8em;
}

html {
    min-height: 100%;
}

p {
    font-size: $font-size-default;
    margin: 0;

    & + & {
        margin-top: .5em;
    }
}

ul {
    padding: 0;
}