@use "../variables/screen.scss";
@use "../variables/value.scss";

.container {
  overflow: hidden;
  padding: 0 value.$value-container-padding;

  & + & {
    margin-top: 60px;
  }

  &-flex {
    display: flex;
    justify-content: space-between;

    > * {
      width: calc(50% - 35px);
    }
  }

  @media (min-width: screen.$screen-laptop) {
    padding: 0 value.$value-container-padding-desktop;

    &-slim {
      max-width: screen.$screen-tablet;
      margin-left: auto;
      margin-right: auto;
    }

    &.space {
      padding-bottom: 2em;
    }
  }
}
